img{
    width: 100%;
}

p{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2rem;
}

.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 1350px;
    height: 750px;
    font-size: 2rem;
}

.link{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: black;
    color: white;
}

.no{
    font-size: 12px;
}

#no{
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#nein{
    position: relative;
    width: 1350px;
    height: 750px;
}

.fuck{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.fuck #best{
    font-size: 10rem;
}

footer .foot{
    position: relative;
    font-size: 1rem;
}

.noodz{
    position: relative;
    left: 0;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.answers{
    position: relative;
    left: 5%;
    font-size: 2rem;
    cursor: no-drop;
}

.noods-pix img{
    position: relative;
    left: -10%;
}

.nah{
    cursor: grab;
}

video{
    width: 50%;
}

.found {
    display: flex;
    justify-content: space-evenly;
}